:root {
  --main-bg-color: #2b2b2b;
  --main-fg-color: #ccc;

  --primary-border: #cbcbcb;

  --cell-bg: #2b2b2b;
  --cell-bg-hover: #151515;
  --cell-bg-focus: #1f1f1f;

  --toolbar-bg: #2b2b2b;
  --toolbar-button: #aaa;
  --toolbar-button-hover: #555;

  --pager-bg: #111;
  --input-color: #fafafa;

  --cm-background: #111;
  --cm-color: #ecf0f1;

  --cm-gutter-bg: #777;

  --cm-comment: #777;
  --cm-keyword: #3498db;
  --cm-string: #f1c40f;
  --cm-builtin: #16a085;
  --cm-special: #1abc9c;
  --cm-variable: #ecf0f1;
  --cm-number: #2ecc71;
  --cm-meta: #95a5a6;
  --cm-link: #2ecc71;

  --cm-activeline-bg: #e8f2ff;
  --cm-matchingbracket-outline: grey;
  --cm-matchingbracket-color: white;

  --cm-hint-color: var(--main-fg-color);
  --cm-hint-color-active: var(--cm-color);
  --cm-hint-bg: var(--main-bg-color);
  --cm-hint-bg-active: var(--pager-bg);
}
